
<%= form_with(model: @property, local: true) do |form| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Numero de propiedad:</strong>
    <%form.label :id_property%>
    <%= form.number_field :id_property, class:"form-control", placeholder:"Numero de Propiedad"%>

  <div class="field">
  <strong>Nombre:</strong>
    <%form.label :name %>
    <%= form.text_field :name , class:"form-control", placeholder:"Nombre del Propietario"%>
  </div>

  <div class="field">
  <strong>Apellido:</strong>
    <%form.label :laste_name %>
    <%= form.text_field :laste_name, class:"form-control", placeholder:"Apellido del Propietario"%>
  </div>

  <div class="field">
  <strong>Correo Electronico:</strong>
    <% form.label :description%>
    <%= form.text_field :description, class:"form-control", placeholder:"Correo Electronico"%>
  </div>

  <div class="actions">
    <%=form.submit%>
  </div>
<% end %>
