<h1>Lista de Propiedades</h1>

<%= link_to 'Nueva propiedad', new_property_path, class: "btn btn-primary far fa-building"%>
</br>

<div class="row">
<div class="col">
<table class="table table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numero de Propiedad</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo Electronico</th>
    </tr>
  </thead>
  <tbody>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.id_property %></td>
      <td><%= property.name %></td>
      <td><%= property.laste_name%></td>
      <td><%= property.description %></td>
      <td><%= link_to 'Ver', property, class: " btn btn-info far fa-eye" %></td>
      <td><%= link_to 'Editar', edit_property_path(property), class: "btn btn-success far fa-address-card"%></td>
      <!--<td><% link_to 'Destroy',property, method: :delete, data: { confirm: 'Are you sure?' }%></td>-->
    </tr>
  <% end %>
</tbody>
</table>
<br>
</div>
</div>
